.module {
  position: relative;
  margin-bottom: 10px;

  &__toggle {
    position: absolute;
    left: 15px;
    top: 17px;
    display: inline-block;
    width: 20px;
    height: 20px;
    transition: all 0.5s ease-in-out;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      background-color: #d9d9d9;
    }

    &::after {
      height: 100%;
      width: 2px;
      left: 50%;
      transform: translateX(-50%);
      top: 1px;
    }

    &::before {
      width: 100%;
      height: 2px;
      top: 50%;
    }

    @media only screen and (min-width: $desktop-width) {
      display: none;
    }
  }

  &__number {
    padding: 15px 50px;
    background-color: $grey;
    transition: 0.5s ease-in-out;

    @media only screen and (min-width: $desktop-width) {
      background-color: transparent;
    }
  }

  &__list {
    padding-top: 0;
    height: 0;
    overflow: hidden;

    li:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media only screen and (min-width: $desktop-width) {
    flex: 1 1 288px;
    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
      margin-right: 45px;
    }

    &__number {
      position: relative;
      padding: 0;
      margin-right: 80px;
      flex-shrink: 0;

      &:nth-child(2) {
        margin-right: 95px;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -30px;
        width: 100%;
        height: 2px;
        background-color: $main-red;
      }
    }

    &__list {
      height: auto;
    }
  }
}

.module.active {
  .module__toggle {
    transform: rotate(180deg);

    &::before {
      background-color: $white;
      transform: translateY(-50%);
    }

    &::after {
      background-color: transparent;
      transition: background-color 0.25s ease-in-out 0.25s;
    }
  }

  .module__number {
    background-color: $main-red;
    color: $white;

    @media only screen and (min-width: $desktop-width) {
      background-color: transparent;
      color: $black;
    }
  }

  .module__list {
    padding-top: 15px;
    height: auto;
  }
}
